name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.8.1

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1
        with:
          version: v3.5.1
      - name: Set up chart-testing fork
        if: ${{ false }}
        run: |-
          cd /tmp
          mkdir -p $HOME/ctbin
          wget https://github.com/ajvpot/chart-testing/releases/download/3.7.1-2/chart-testing_3.7.1-2_linux_amd64.tar.gz -O ct.tar.gz 
          tar -xzf ct.tar.gz -C "$HOME/ctbin"
          
          echo 'Adding ct directory to PATH...'
          echo "$HOME/ctbin" >> "$GITHUB_PATH"

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: |
          ct lint --config ct.yaml --validate-maintainers=false # --execute-version-increment
          git commit -am "version bump" || true
          git push || true

      - name: Create kind cluster
        uses: helm/kind-action@v1.12.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        run: ct install --config ct.yaml
